  .form-group .help-block {
    display: none;
  }
  .form-group.has-error .help-block {
  display: block;
  }
  .fa.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
  }
  @keyframes spin {
      from {
          transform: scale(1) rotate(0deg);
      }
      to {
          transform: scale(1) rotate(360deg);
      }
  }
  @-webkit-keyframes spin2 {
      from {
          -webkit-transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(360deg);
      }
  }